 nav {
 	background-color: #f7f5f2;
 	text-align: left;
 	color: white;
 	padding: 20px;
 }


body {
	text-align: center;
	font-weight: 500;
	font-style: normal;
	background-color: #09414e;
	font-family: 'Josefin Sans';
	margin: 0 auto 0;
	padding-top: 0px;
}

 h1 {
 	text-align: left;
 	color: #f7f5f2;
 	text-decoration: none;
 	display: inline;
 	font-size: 30px;
 }

 h2 {
 	text-align: center;
 	color: #f7f5f2;
 }

 a {
 	color: white;
 	text-decoration: none;
 	padding: 20px;
 }

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.form-group {
	padding: 10px;
	border-radius: 10px;
	position: relative;
	overflow-y: scroll;
}

.register {
	margin: 40px;
}

label {
	font-size: 16px;
	text-align: left;
	display: flex;
	flex-direction: column;
	color: #f7f5f2;

}

input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 150px;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #062e35;
	border-radius: 8px;
}

.login {
	margin: 20px;
}

.register {
	display: flex;
	justify-content: center;
	align-items: center;
}


#role-signup {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 277px;
	border-style: solid;
	border-width: 2px;
	border-color: #f7f5f2;
	border-radius: 8px;
}

button {
	background-color: #ea9b2a;
	color: #09414e;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "davis-sans", sans-serif;
}


/*
 
 nav {
	background-color: #0B6AB1;
	text-align: left;
	color: white;
	padding: 50px;
 }
 
 body {
	background-color: white;
	font-family: 'Josefin Sans';
	margin: 0 auto 0;
	padding-top: 0px;
 }

 a {
	color: white;
	text-decoration: none;
	padding: 20px;
 }
 
 h1 {
	text-align: left;
	color: white;
	text-decoration: none;
	display: inline;
	font-size: 30px;
 }
 
 h2 {
	text-align: center;
	color: #CE4912;
 }

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.form-group {
	padding: 10px;
	border-radius: 10px;
	position: relative;
	overflow-y: scroll;
}

label email

label {
	font-size: 16px;
	text-align: left;
	display: flex;
	flex-direction: column;
	color: #1b3b6b;

}

input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 150px;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #5774b9;
	border-radius: 8px;
}

.register {
	display: flex;
	justify-content: center;
	align-items: center;
}


#role-signup {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 277px;
	border-style: solid;
	border-width: 2px;
	border-color: #5774b9;
	border-radius: 8px;
}

button {
	background-color: #f2b833;
	color: #1b3b6b;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}*/